<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="syncfusion packages" value="http://nuget.syncfusion.com/nuget_xamarin/nuget/getsyncfusionpackages/xamarin" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
	<config>
    	<add key="repositoryPath" value="Packages" />
  </config>
</configuration>